@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  height: 400px;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: 'Inter', sans-serif;
}

.container.dark {
  background-color: #292a2e;
}
