:host {
	--_bg-color: #1d2125;
	--_text-color: #eff1f3;
	--_padding: 0.75rem;
	--_text-align: start;
	--_inset: calc(100% + var(--_padding));

	pointer-events: none;
	user-select: none;
	opacity: 0;
	transition: transform 0.12s ease-in-out;

	position: absolute;
	top: 0;
	left: 0;
	transform: translate(var(--x, 0), var(--y, 0));
	z-index: 2;
	inline-size: max-content;
	/* TODO: not sure if ok size */
	max-inline-size: 25ch;
	font-size: 0.813rem;
	margin: 0;
	border-radius: 0.375rem;
	text-align: var(--_text-align);
	padding: var(--_padding);
	background: var(--_bg-color);
	color: var(--_text-color);
	filter: drop-shadow(0 0 3px hsl(0 0% 0% / var(--_shadow-alpha))) drop-shadow(0 0 12px hsl(0 0% 0% / var(--_shadow-alpha)));

	/* for screen readers */
	&::before {
		content: attr(data-content);
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		width: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
	}

	.rpg-tooltip-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem;

		.rpg-tooltip-label {
			font-weight: 500;
		}

		.rpg-tooltip-value {
			font-weight: 700;
			font-size: 1.25rem;
		}
	}
}

:host([theme="light"]) {
  --_bg-color: white;
  --_text-color: #232529;
  --_shadow-alpha: 15%;
}

@media (prefers-color-scheme: light) {
	:host:not([theme]) {
		--_bg-color: white;
		--_text-color: #232529;
		--_shadow-alpha: 15%;
	}
}

:host([show="true"]) {
	animation: fadeIn 120ms ease-in-out both 90ms;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}
